<div class="container">
  <div class="row">
    <div class="col-xl-12 mt-3">
      <div class="d-block w-100 border rounded h-100">
        <div class="container">
          <div class="row">
            <div class="col-md-12 mt-4">
              <h4>
                Currency
              </h4>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 mt-3">
              <div class="w-100">Base currency</div>
              <div class="w-100">
                  <select class="form-control p-1 mt-1">
                      <option value="USD" selected>USD</option>
                      <option value="EUR">EUR</option>
                      <option value="BAM">BAM</option>
                  </select>
              </div>
            </div>


            <div class="col-md-12 mt-3">
              <table class="table">
                <thead class="bg-lightgrey">
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">BAM</th>
                    <th scope="col">USD</th>
                    <th scope="col">EUR</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row" class="bg-lightgrey">BAM</th>
                    <td>1.0000</td>
                    <td>0.57</td>
                    <td>0.51</td>
                  </tr>
                  <tr>
                    <th scope="row" class="bg-lightgrey">USD</th>
                    <td>1.74</td>
                    <td>1.0000</td>
                    <td>0.89</td>
                  </tr>
                  <tr>
                    <th scope="row" class="bg-lightgrey">EUR</th>
                    <td>1.95</td>
                    <td>1.12</td>
                    <td>1.0000</td>
                  </tr>
                </tbody>
              </table>
              <button class="btn btn-outline-dark"><i class="fa fa-refresh"></i> Update exchange rate</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>